// Custom Input

.vid-custom-input {
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #22215100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.02);
  background: #ffffff;

  .el-form-item__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    letter-spacing: -0.5px;
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
    opacity: 0.5;
    transition: all 0.2s ease-out;
  }

  .has-value {
    color: #222151;
    top: 30%;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.25s ease-out;

    + div i {
      opacity: 1 !important;
      transition: all 0.25s ease-out;
    }
  }

  .el-input__inner, .el-textarea__inner {
    color: #222151;
    font-weight: 600;
    font-size: 1.4rem;
    height: 100px;
    padding: 15px 50px 0;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #22215100;
    width: 100%;
    transition: all 0.25s ease-out;
  }

  .el-input.is-disabled .el-input__inner {
    background-color: transparent;
  }

  span.el-input__prefix {
   left: 20px;

    i {
      font-size: 1rem;
      font-weight: 300;
      position: relative;
      top: 4px;
      opacity: 0.5;
      transition: all 0.25s ease-in;
    }

    .exp {
      top: 33%;
      font-size: 1.2rem;
    }
  }

  .el-date-editor {
    width: 100%;
  }

  .el-textarea__inner {
    height: auto !important;
  }

  .el-textarea__inner {
    height: 80px;
    padding-top: 28px;
  }

  .el-input__inner:focus, .el-textarea__inner:focus {
    outline: 0 !important;
    border: 1px solid #22215150;
    transition: all 0.25s ease-in;
  }
}

// Button
.el-button {
  border-radius: 5px;
  font-weight: 500;

  &:not(.el-button--small) {
    padding: 15px 40px;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &.el-tooltip {
    opacity: 0.5;

    &:hover {
      background: #fff !important;
      border: 1px solid #dcdfe6 !important;
      color: #606266;
      cursor: default;
    }
  }
}

//Color Picker
.el-color-picker__trigger {
  width: 200px;
}

//Select
.el-select {
  width: 100%;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%
}

//Dialog
.el-dialog {
  border-radius: 10px;

  .el-dialog__header {
    padding: 40px;

    span {
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 1px;
      font-family: "Avenir", sans-serif;
      font-weight: 500;
    }
  }

  .el-dialog__body {
    padding: 0 40px 40px;
  }
}

.loading-dialog .el-dialog {
  height: 100% !important;
  width: 100% !important;
  border-radius: 0 !important;
}

.el-card {
  border-radius: 8px;

  &.is-always-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  }
}

.el-timeline-item__node {
  background: #7733f4 !important;
}

.el-input-group__append {
  padding: 0;
}

.el-input__suffix {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
}

.el-link.el-link--default:hover {
  color: #222151;
  text-decoration: none;
}

.vid-schedule {
  .el-timeline-item__wrapper {
    margin-bottom: 30px;
  }

  .el-timeline-item__timestamp {
    font-weight: 600;
  }

  .el-timeline-item__content {
    h4 {
      font-size: 1.2rem;
    }
     p {
       margin-bottom: 0;
     }
  }
}


.el-table {
  padding: 15px;
  border-radius: 15px;
}

.vid-user-home .el-dialog {
  background: #f9f9fb;
}

.vid-cta .el-form-item__label {
  color: #fff !important;
}

@media (max-width: 1440px) {
  .bg-image-dialog .el-dialog {
    width: 70% !important;
  }
}

@media (max-width: 1200px) {
  .el-dialog {
    width: 60% !important;
  }
}

@media (max-width: 1024px) {
  .el-dialog {
    margin-top: 0 !important;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 80% !important;

    .el-dialog__body {
      .el-row {
        flex-direction: column;
        width: 70%;
        margin: auto !important;
      }
    }
  }

  .bg-image-dialog .el-dialog__body .el-row {
    flex-direction: row !important;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .bg-image-dialog .el-dialog {
    width: 100% !important;
    height: 70%;
  }

  .bg-image-dialog .el-dialog__body .el-row {
    flex-direction: row !important;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .bg-image-dialog .el-dialog {
    height: 100%;
  }

  .bg-image-dialog ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .el-dialog {
    height: 100%;
    width: 100%;
    border-radius: 0;

    .el-dialog__body {
      padding: 0 20px 20px;

      .el-row {
        width: 100%;
      }
    }

    .vid-bg-image {
      margin-bottom: 30px;
    }
  }

  .el-dialog.is-fullscreen {
    width: 100% !important;
  }

  .el-upload-dragger {
    width: 280px;
  }
}
